<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>195 Project Web</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">

    <!-- ICONSCOUT CDN-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    
    <!--STYLESHEET-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <nav>
        <div class="container nav__container">
            <u1 class="nav__items">
                <!-- home page -->
                <li><a href="/home">Home</a></li>
               
               

            </u1>

            <a href="/" class="nav__logo"><h3>smartHome</h3></a>

            <div class="nav__signin-signup">
                <a href="pairdevice"> Pair Device</a>
                <a href="viewdevices"> View Devices</a>
                <a href="settings"> Settings</a>
                <a href="logout"> Logout</a>
                

            </div>
        </div>
    </nav>
    <!-- END OF NAVBAR-->

    <header>
        <div class="container header__container">
            <h1 class="header__title">Smart Home<br/>Application</h1>
            <p class="lead">CMPE-195 Group 17 Project</p>
            
            <div class="header__image">
                <!--<img src="./images/home.jpg">-->
                <img src="{{ url_for('static', filename='images/home.jpg') }}" alt="Cat Image">
            </div>

            <div class="cta">
                <!-- target to have it open on new tab-->
                <a href="https://www.google.com/" class="btn btn-primary" target="_blank">
                    <div class="logo">
                        <!--<img src="./images/skull.svg">-->
                        <img src="{{ url_for('static', filename='images/skull.svg') }}" alt="Skull Image">
                    </div>
                    <span>
                        <small>Want more info?</small>
                        <h4>Download this Report</h4>
                    </span>
                </a>
                <!-- target to have it open on new tab-->
                <a href="https://www.google.com/" class="btn btn-primary" target="_blank">
                    <div class="logo">
                        <!--<img src="./images/smiley.svg">-->
                        <img src="{{ url_for('static', filename='images/smiley.svg') }}" alt="Smiley Image">
                    </div>
                    <span>
                        <small>More Information</small>
                        <h4>App</h4>
                    </span>
                </a>
            </div>

            <div class="header__socials">
                <a href="https://github.com/JonathanL159/CMPE195-Project-Fall-2023.git" target="_blank"><i class="uil uil-github"></i></a>
            </div>
        </div>
<!----
        <div class="header__decorator-1">
            <img src="./images/pic01.jpg">
        </div>
        <div class="header__decorator-2">
            <img src="./images/pic02.jpg">
        </div>
        <div class="header__decorator-3">
            <img src="./images/pic03.jpg">
        </div>
-->
    </header>
    <!-- END OF HEADER-->

    <section id="about">
        <h1 class="about__title">About</h1>
        <div class="container">

            <article class="about__article">
                <div class="about__content">
                    <h2 class="about__article-title">Architecture</h2>
                    <p>Description of what it does</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
                <div class="about__image">
                    <!--<img src="./images/architecture.png">-->
                    <img src="{{ url_for('static', filename='images/architecture.png') }}" alt="Architecture Image">
                </div>
            </article>

            <article class="about__article">
                <div class="about__content">
                    <h2 class="about__article-title">Matter Devices</h2>
                    <p>Description of what it does</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
                <div class="about__image">
                    <!--<img src="./images/detailedArchitecture.png">-->
                    <img src="{{ url_for('static', filename='images/detailedArchitecture.png') }}" alt="Detailed Architecture Image">
                </div>
            </article>
        </div>
    
    </section>
    <!-- END OF ABOUT-->


    <section id="faqs">
        <h1 class="FAQs">FAQs</h1>
        <!--<h1>FAQs</h1>-->
        <div class="container faqs__container">

            <article class="faq">    
                <span class="faq__icon"><i class="uil uil-plus-circle"></i></span>
                <div class="faq__question-answer">
                    <h4 class="faq__question">How does it work?</h4>
                    <p class="faq__answer">Magic</p>
                </div>
            </article>

            <article class="faq">
                <span class="faq__icon"><i class="uil uil-plus-circle"></i></span>
                <div class="faq__question-answer">
                    <h4 class="faq__question">No really? How does it work?</h4>
                    <p class="faq__answer">idk</p>
                </div>
            </article>

            <article class="faq">
                <span class="faq__icon"><i class="uil uil-plus-circle"></i></span>
                <div class="faq__question-answer">
                    <h4 class="faq__question">Having Problems?</h4>
                    <p class="faq__answer">Google it lol</p>
                </div>
            </article>
        </div>
    </section>
    <!-- END OF FAQs-->

    <section id="team">
        <h1>Team</h1>
        <p class="lead">
            These guys made it
        </p>
        <div class="container team__container">
            <article class="team">
                <p>
                    Description
                </p>
                <div class="team__member">
                    <div class="avatar">
                        <!-- <img src="./images/rocket.svg"> -->
                        <img src="{{ url_for('static', filename='images/rocket.svg') }}" alt="Rocket Image">
                    </div>
                    <div  class="team__work">
                        <p><b>Aaron Arul</b></p>
                        <small>Student</small>
                    </div>
                </div>
            </article>

            <article class="team">
                <p>
                    Description
                </p>
                <div class="team__member">
                    <div class="avatar">
                        <!-- <img src="./images/fish.svg"> -->
                        <img src="{{ url_for('static', filename='images/fish.svg') }}" alt="Fish Image">
                    </div>
                    <div  class="team__work">
                        <p><b>Jason Chan</b></p>
                        <small>Student</small>
                    </div>
                </div>
            </article>

            <article class="team">
                <p>
                    Description
                </p>
                <div class="team__member">
                    <div class="avatar">
                        <!-- <img src="./images/thunder.svg"> -->
                        <img src="{{ url_for('static', filename='images/thunder.svg') }}" alt="Thunder Image">
                    </div>
                    <div  class="team__work">
                        <p><b>Antony Morgan</b></p>
                        <small>Student</small>
                    </div>
                </div>
            </article>


            <article class="team">
                <p>
                    Description
                </p>
                <div class="team__member">
                    <div class="avatar">
                        <!--<img src="./images/bug.svg">-->
                        <img src="{{ url_for('static', filename='images/bug.svg') }}" alt="Bug Image">

                    </div>
                    <div  class="team__work">
                        <p><b>Jonathan Lei</b></p>
                        <small>Student</small>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <!-- END OF TEAM-->

    <script src="{{ url_for('static', filename='main.js') }}"></script>

</body>
</html>